<template>

  <require from="./resources/nav-bar.html"></require>

  <div class="uk-container">

    <div class="uk-container-expand">
      <nav-bar router.bind="router" containerless></nav-bar>
    </div>

    <div class="uk-container uk-margin-large-bottom" style="padding-top: 70px;">
      <router-view></router-view>
    </div>

    <div if.bind="router.isNavigating">
      <div uk-spinner></div>
    </div>

  </div>
</template>