<template>
    <h1 class="uk-heading-primary">Components</h1>
    <h2>Usage & configuration</h2>
    <h3 class="uk-heading-line"><span>Attributes</span></h3>
    <code class="lang-html hljs xml">
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">uk-sticky</span>=<span class="hljs-string">"offset: 50;"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <br><span class="hljs-tag">&nbsp;&lt;<span class="hljs-name">div</span> <span class="hljs-attr">data-uk-sticky</span>=<span class="hljs-string">"offset: 50;"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    </code>
    <h3 class="uk-heading-line"><span>JSON</span></h3>
    <code class="lang-html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">uk-sticky</span>=<span class="hljs-string">'{"offset": 50}'</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    </code>
    <h3 class="uk-heading-line"><span>Single attributes</span></h3>
    <code class="lang-html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">uk-sticky</span> <span class="hljs-attr">offset</span>=<span class="hljs-string">"50"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    </code>
    <br>
    <code class="lang-html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">uk-sticky</span> <span class="hljs-attr">data-offset</span>=<span class="hljs-string">"50"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    </code>
    <h3 class="uk-heading-line"><span>JavaScript</span></h3>
    <code class="uk-margin lang-js hljs javascript"><span class="hljs-keyword">var</span> stickys = UIkit.sticky(<span class="hljs-string">'#sticky'</span>, {
        <span class="hljs-attr">offset</span>: <span class="hljs-number">50</span>
    });
    </code>
    <h3 class="uk-heading-line"><span>Primary options</span></h3>
    <code class="lang-html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">uk-icon</span>=<span class="hljs-string">"home"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
        <br>UIkit.drop('#drop', 'top-left');
    </code>
    <h2>Aurelia</h2>
    <h3 class="uk-heading-line"><span>Dynamic options</span></h3>
    <a uk-tooltip data-title="${title}">Dynamic title with data-title</a><br>
    <a uk-tooltip data-title.bind="title">Dynamic title with data-title-bind</a>
    <h3 class="uk-heading-line"><span>Event catch</span></h3>
    <ul ref="auAcc" uk-accordion>
        <li class="uk-open">
            <a class="uk-accordion-title" href="#">Item 1</a>
            <div class="uk-accordion-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
        </li>
        <li>
            <a class="uk-accordion-title" href="#">Item 2</a>
            <div class="uk-accordion-content">
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor reprehenderit.</p>
            </div>
        </li>
        <li>
            <a class="uk-accordion-title" href="#">Item 3</a>
            <div class="uk-accordion-content">
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat proident.</p>
            </div>
        </li>
    </ul>
    <h3 class="uk-heading-line"><span>Method call</span></h3>
    <button class="uk-button uk-button-default" click.trigger="start()">Start</button>
    <button class="uk-button uk-button-default" click.delegate="stop()">Stop</button>
    <div ref="auCntd" class="uk-grid-small uk-child-width-auto uk-margin" uk-grid
        uk-countdown="date: 2019-04-11T11:44:09+00:00">
        <div>
            <div class="uk-countdown-number uk-countdown-days"></div>
        </div>
        <div>
            <div class="uk-countdown-number uk-countdown-hours"></div>
        </div>
        <div>
            <div class="uk-countdown-number uk-countdown-minutes"></div>
        </div>
        <div>
            <div class="uk-countdown-number uk-countdown-seconds"></div>
        </div>
    </div>


    <h3 class="uk-heading-line"><span>Method call</span></h3>
    <button class="uk-button uk-button-default" click.delegate="test()">Toggle animation</button>
    <div ref="anim" class="uk-card uk-card-default uk-card-body uk-animation-fade">
        <p class="uk-text-center">Fade</p>
    </div>

    <h1 class="uk-heading-primary">Grid</h1>

    <h3 class="uk-heading-line"><span>Default</span></h3>
    <div uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">Item</div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">Item</div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">Item</div>
        </div>
    </div>

    <h3 class="uk-heading-line"><span>Expand</span></h3>
    <!-- width: -->
    <!--        uk-width-auto -->
    <!--        uk-width-expand -->
    <div uk-grid>
        <div class="uk-width-expand">
            <div class="uk-card uk-card-default uk-card-body">Item</div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">Item</div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">Item</div>
        </div>
    </div>

    <h3 class="uk-heading-line"><span>Child width</span></h3>
    <!-- child -->
    <div class="uk-child-width-1-4 uk-grid-small uk-text-center" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">Item</div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">Item</div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">Item</div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">Item</div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">Item</div>
        </div>
    </div>

    <h3 class="uk-heading-line"><span>Nested</span></h3>
    <!-- Nested grid -->
    <div class="uk-child-width-1-2 uk-text-center" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">Item</div>
        </div>
        <div>
            <div class="uk-child-width-1-2 uk-text-center" uk-grid>
                <div>
                    <div class="uk-card uk-card-primary uk-card-body">Item</div>
                </div>
                <div>
                    <div class="uk-card uk-card-primary uk-card-body">Item</div>
                </div>
            </div>
        </div>
    </div>

    <h3 class="uk-heading-line"><span>Width</span></h3>
    <code>.uk-width-1-1</code><br>
    <code>.uk-width-1-1@s</code><br>
    <code>.uk-width-auto</code><br>
    <code>.uk-width-expand</code><br>
</template>